

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            background-color: maroon;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
		
		img {
			height:8%;
			width:8%;
			float:left;
		}
        nav {
			display: flex;
            justify-content: center;
            background-color: gold;
            color: maroon;
            padding: 10px;

        }
        nav a {
			 
             display: block;
            color: maroon;
            text-decoration: none;
            padding: 10px 20px;
			cursor: pointer;
			text-align:center;
			font-weight: bold;
        }
		
		
			.nav-link {
         color: #FFD700; 
         text-decoration: none;
         padding: 2px; /* Add some padding to make the hover effect more noticeable */
		 font-weight:bold;
             }

        .nav-link:hover {
          color: maroon; /* Text color when hovered */
          background-color: yellow; /* Background color when hovered */
		  font-weight:bold;
         }

      .nav-link:active {
         color: white; /* Text color when clicked */
         }

		
		
		
      .dropdown {
        position:relative;
		
     }

    

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: gold;
        color: maroon;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {

        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
		font-weight: bold;
		border: 0.5px solid white;
    }

    .dropdown-content a:hover {
       background-color: maroon;
       color: gold;
	   font-weight: bold;
	   border: 1px solid white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    
        nav a:hover {
			color: white;
            background-color: rgba(169, 32, 62,0.8);
        }
		nav a:active {
			color: white;
            background-color: rgba(169, 32, 62,0.8);
        }
        .hero {
            background-image: url('home.jpeg');
            background-size: 100% 100%;
			height: 500px;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
			
        }
        .hero h1 {
			margin-top: 100;
            font-size: 3em;
            
			
        }
        .cta-button {
            display: inline-block;
            background-color: maroon;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            transition: background-color 0.3s ease;
        }
        .cta-button:hover {
            background-color: gold;
			color: maroon;
        }
        footer {
            background-color: maroon;
            padding: 20px;
            text-align: center;
            color: gold;
        }
        .login-register {
		float: right;
        font-size:20px;
		margin-right: 30px;
        margin-top: 80px;
		
	}


#space{
	padding:30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
#he1{
	color:maroon;
	font-size: 3em;
	
}
	

/* Container for the tours */
.tour-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* Individual tour card */
.tour {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1; /* Ensures all tour cards take up equal space */
    max-width: 45%; /* Adjust the width as necessary */
    box-sizing: border-box;
}

/* Tour images */
.tour img {
    width: 80%; /* Adjust the width as necessary */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Tour content */
.tour-content {
    flex: 1;
    text-align: left;
	
}

.tour h2 {
    color: maroon;
    margin-bottom: 10px;
}

/* Booking link */
   .booking-link {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    background-color: gold;
    color: maroon;
    padding: 10px 20px;
    border-radius: 5px;
	font-weight: bold;
    transition: background-color 0.3s ease;
}

   .booking-link:hover {
    background-color: maroon;
    color: white;
	border: 2px solid gold;
}

#of{
	margin-top: 5px;
    gap: 1px;
    background-color: #800000;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(180, 0, 0, 0.8);
    padding: 30px;
	color:white;
    text-align:center;
}
	
.about {
    margin: 50px auto;
	margin-top: 5px;
    gap: 1px;
    background-color: #800000;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(180, 0, 0, 0.8);
    padding: 80px;
	color:white;
	text-align:center;
}
#about1{
	width:30%;
}

.booking-link:hover {
    background-color: maroon;
}
.register{
	
	background-image: url('home.jpeg');
            background-repeat: no-repeat;
        background-size: 100% 100%;
}

.form h1,h3{
	
	color:gold;
}

      .form {
            width: 40%;
            margin: 50px auto;
            padding: 20px;
            background-color: rgba(180,0,0,0.5);
            border: 1px solid gold;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
			color: white;
			
        }
		#login{
		width: 330px ;	
	    height: 350px;
		}
        .form input[type="text"],
        .form input[type="email"],
        .form input[type="password"],
        .form input[type="file"],
        .form select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }
        .form input[type="submit"],
        .form input[type="reset"] {
            width: 48%;
            padding: 10px;
            margin-top: 20px;
            background-color: maroon;
            color: gold;
            border-radius: 5px;
            cursor: pointer;
			border: 1px solid gold;
        }
        .form input[type="submit"]:hover,
        .form input[type="reset"]:hover {
            color: black;
			background-color: gold;
			font-weight:bold;
		   border: 1px solid white;
        }
		
		
		#loginsubmit {
            width: 80%;
            padding: 10px;
            margin-top: 20px;
            background-color: maroon;
            color: gold;
            border: 1px solid gold;
            border-radius: 5px;
            cursor: pointer;
			margin-left: 30px;
			margin-right: 20px;
        }
       #loginsubmit:hover {
            color: black;
			background-color: gold;
			font-weight:bold;
			border: 1px solid white;
        }
		
		

 .cont{
    background-image: url('home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100%;
   

}






/* end */

